.condition-builder {
    padding: 10px;
}

.condition-builder .group-conditions {
    padding: 5px;
}

.condition-builder .group-conditions:hover {
    background-color: #eee;
}

.condition-builder .form-control {
    width: auto;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.condition-builder .hide {
    display: none !important;
}

.add-condition {
    display: inline-block;
}

.add-condition-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.add-condition-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.condition-builder .remove-condition {
    margin-left: 5px;
    font-size: 16px;
    vertical-align: middle;
}
.condition-builder .remove-condition:hover {
    text-decoration: none;
}

.condition-builder .clear-rows {
    clear: both;
    display: block;
    width: 150px;
}

.condition-builder .field_name {
    font-size: 14px;
    margin-right: 5px;
    padding: 7px 7px 8px 7px;
}

.condition-builder .operators {
    width: 150px;
    text-align: center;
}

.condition-builder .fixed_operator {
    font-weight: bold;
    box-shadow: none;
    background-color: transparent;
    padding: 7px 7px 8px 7px;
    vertical-align: middle;
    width: auto;
    display: inline-block;
}

.condition-builder .values,
.condition-builder .fixed_value {
    /*width: 300px;*/
}

.condition-builder .conditions-move {
    position: relative;
    padding-left: 1.25em;
    cursor: row-resize;
}
.condition-builder .conditions-move:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow:
            0 0.25em 0 0 black,
            0 0.5em 0 0 black;
}