<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">Selecione os Widgets que deseja utilizar:</div>
      </div>
      <div class="panel-body">
        <%= form_tag(visual_condition_builder_save_path, method: :put, class: 'widget_config') do %>

          <div class="form-group">
            <label class="control-label">Usuário:</label>
            <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :email, current_user.id), include_blank: false, class: 'form-control widget-user-control' %>
          </div>

          <fieldset class="widgets_list">
            <legend>Widgets</legend>
            <div class="list"></div>
          </fieldset>

          <%= submit_tag "Salvar", class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>